<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ark.center.product.infra.product.db.SpuAttrMapper">

    <select id="selectSpuSpecs" resultType="com.ark.center.product.client.goods.dto.GoodsAttrDTO">

        select
        cs.id as spuId,
        ca.id as attrId,
        ca.name as attrName
        from attr ca
        inner join attr_template cat on ca.attr_template_id = cat.id
        inner join category cc on cc.attr_template_id = cat.id
        inner join spu cs on cs.category_id = cc.id
        where cs.id in
        <foreach collection="spuIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and ca.type = 1

    </select>
</mapper>
